\%(include|header.tpl)s
.breadcrumb
  %p
    %a{:href => "%(url|/)ssystem"} System
    \&#187
    %a{:href => "%(url|/)sbackup/"} Backup and Restore
%h1 Backup and Restore
#msg.info{"tal:condition" => "info", "tal:content" => "info"} Something happened, but I'm not sure.
#err.error{"tal:condition" => "error", "tal:content" => "error"} An error occured while processing your request. No more information is available.
#opsuccess.info{"tal:condition" => "opsuccess"} Operation completed sucessfully.
%p
  This allows you to save and restore copies of the Bongo server configuration.
  It
  %em does not
  look at user data such as contacts or e-mail: use the
  specialist
  %tt bongo-backup
  tool to handle those (potentially very large)
  datasets!
%h2 Backup
%p
  %a{:href => "%(url|/)sbackup/download/bongo-backup-%(set)s.set"} Download backup file
%h2 Restore
%p TODO, sorry :)
\%(include|footer.tpl)s
