%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=iso-8859-1", "http-equiv" => "content-type"}/
    %title Bongo Web Administration - %(breadcrumb)s
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %link{:href => "/images/bongo-favicon.ico", :rel => "icon", :type => "image/ico"}/
    %link{:href => "/images/bongo-favicon.png", :rel => "icon", :type => "image/png"}/
    %style{:media => "screen", :type => "text/css"}
      @import url(/javascripts/admin.css);
    %script{:src => "/javascripts/lib/prototype/prototype.js", :type => "text/javascript"}
    %script{:src => "/javascripts/lib/script.aculo.us/effects.js", :type => "text/javascript"}
  %body#body-override
    #userinfo
      Logged in as:
      %i admin
      [
      %a{:href => "%(url|/)slogout"}> logout
      ]
    #logo
      %img{:alt => "Bongo", :src => "/images/Bongo-logo.png"}/
    #sidebar
      %ul.nav
        %li{"tal:attributes" => "class dsktab"}
          %a{:href => "%(url|/)s"}
            %img.icon{:alt => "", :border => "0", :src => "/images/user-desktop.png"}/
            Desktop
        %li.disabled
          %img.icon{:alt => "", :src => "/images/system-users.png"}/
          Users
        %li{"tal:attributes" => "class agntab"}
          %a{:href => "%(url|/)sagents"}
            %img.icon{:alt => "", :border => "0", :src => "/images/system-installer.png"}/
            Agents
        %li{"tal:attributes" => "class systab"}
          %a{:href => "%(url|/)ssystem"}
            %img.icon{:alt => "", :border => "0", :src => "/images/network-server.png"}/
            System
        %li.disabled
          %img.icon{:alt => "", :src => "/images/help-browser.png"}/
          Help
    #page
      #content
        .breadcrumb
          %p %(breadcrumb)s
        %h1{"tal:content" => "title"} Untitled page
        #msg.info{"tal:condition" => "info", "tal:content" => "info"} Something happened, but I'm not sure.
        #err.error{"tal:condition" => "error", "tal:content" => "error"} An error occured while processing your request. No more information is available.
        #opsuccess.info{"tal:condition" => "opsuccess"} Operation completed sucessfully.
        / BEGIN HAWKYE CONTENT
